@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Optimized/roboto-variablefont_wdthwght-webfont.woff")
      format("woff"),
    url("/src/assets/fonts/Roboto-Optimized/roboto-variablefont_wdthwght-webfont.woff2")
      format("woff2");
  font-display: swap;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue";
  src: url("/src/assets/fonts/Helevetica-Neue-Optimized/helveticaneuelight-webfont.woff")
      format("woff"),
    url("/src/assets/fonts/Helevetica-Neue-Optimized/helveticaneuelight-webfont.woff2")
      format("woff2");
  font-display: swap;
}
@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Sf Pro Display";
  src: url("/src/assets/fonts/Sf-Pro-Display-Optimized/sfprodisplayregular-webfont.woff")
      format("woff"),
    url("/src/assets/fonts/Sf-Pro-Display-Optimized/sfprodisplayregular-webfont.woff2")
      format("woff2");
}
